// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
// @import "footnote"

html {
        background: url("/images/zhi.jpg")
}

body > div {
        background-image: url("/images/zhi.jpg")
} //侧边栏

body > div > div { //文章内容
        background-image: url("/images/zhi.jpg")
}
