// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

html {
        background: #555555 url("/images/zhi.jpg");
        //background: #555555;
}

body > div {
        background-image: #555555 url("/images/zhi.jpg");
        //background: #555555;
} //侧边栏

body > div > div { //文章内容
        background-image: ＃555555 url("/images/zhi.jpg");
        //background: #555555; 
        //background: url("/images/zhi.jpg");
}
